<!DOCTYPE html>
<html>
<head>
	<title>landing page</title>
	
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
<link rel="stylesheet" type="text/css" href="mystyle.css">
<body background-color="white" >


<div class = "header">  <!--container for the header elements -->
	<div id = "title">
	Landing Page
	</div>
        <div class = "links">   <!-- container for links to other pages on the site -->
        <a href = landing_page.html >home</a>
        <a href = # >login</a>
        <a href = register.html >registration</a>
        </div>	
    </div>

    <form action="login/" method="post"> <!--login form-->
        <p>
            <label for="username">Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
    
        <p class="error"><strong>incorrect username or password </strong> 
    
</body>
</html>